* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  background-color: #f7f7f7;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

* html,
* html body {
  /* background-image: url(about:blank); */
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  width: 100%;
  background-color: #050412;
}

.header .img-wrapper {
  height: 780px;
  width: 1200px;
  background-image: url(../images/1573528797986.jpg);
  position: relative;
  margin: 0 auto;
}

.header .img-wrapper .logo-wrapper {
  position: absolute;
  top: 0;
  left: 243px;
}

.header .img-wrapper .logo-wrapper img {
  display: block;
  height: 52px;
  width: 145px;
}

.header .img-wrapper .wrapper {
  position: absolute;
  top: 74px;
  right: 0;
  width: 420px;
  background-color: #fff;
}

.header .img-wrapper .wrapper .inner-box {
  padding: 30px 30px 20px;
  min-height: 513px;
}

.header .img-wrapper .wrapper .inner-box .img-box > a {
  width: 160px;
  height: 42px;
  display: block;
  margin: 0 auto;
}

.header .img-wrapper .wrapper .inner-box .img-box > a img {
  width: 160px;
  height: 100%;
  cursor: pointer;
  text-align: center;
}

.header .img-wrapper .wrapper .inner-box .title {
  margin-top: 15px;
  font-family: HYQiHei-FZS;
  font-size: 19px;
  font-weight: 400;
  font-stretch: normal;
  letter-spacing: 0;
  color: #000;
  text-align: center;
}

.header .img-wrapper .wrapper .inner-box .form {
  width: 364px;
}

.header .img-wrapper .wrapper .inner-box .form .phone-box {
  margin-top: 15px;
  border: 1px solid #dedfe0;
}

.header .img-wrapper .wrapper .inner-box .form .phone-box .dropbtn {
  width: 94px;
  height: 48px;
  padding-left: 12px;
  line-height: 48px;
  font-size: 16px;
  color: #000;
  float: left;
  position: relative;
}

.header .img-wrapper .wrapper .inner-box .form .phone-box .dropbtn .arrow-down {
  width: 13.2px;
  height: 7.7px;
  position: absolute;
  top: 21.3px;
  right: 19.3px;
}

.header .img-wrapper .wrapper .inner-box .form .phone-box #phone {
  outline: none;
  border: 0;
  font-size: 16px;
  color: #252525;
  height: 46px;
  line-height: 46px;
}

.header .img-wrapper .wrapper .inner-box .form .p_reg {
  font-size: 14px;
  color: #ec3f3f;
  margin-top: 12px;
  text-align: left;
}

.header .img-wrapper .wrapper .inner-box .form .pass-box {
  margin-top: 14px;
  padding-left: 12px;
  border: 1px solid #dedfe0;
  height: 48px;
  position: relative;
}

.header .img-wrapper .wrapper .inner-box .form .pass-box #password {
  height: 46px;
  line-height: 46px;
  width: 340px;
  float: left;
  outline: none;
  border: 0;
  font-size: 16px;
  color: #252525;
}

.header .img-wrapper .wrapper .inner-box .form .pass-box img {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 21px;
  height: 18px;
}

.header .img-wrapper .wrapper .inner-box .form .pass {
  padding-top: 10px;
  font-size: 14px;
  color: #ec3f3f;
  line-height: 19px;
}

.header .img-wrapper .wrapper .inner-box .form .protocol-box {
  margin-top: 20px;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  float: right;
  color: #666;
}

.header .img-wrapper .wrapper .inner-box .form #submit {
  width: 360px;
  height: 48px;
  line-height: 48px;
  font-size: 17px;
  color: #fff;
  text-align: center;
  margin: 20px auto 0;
  cursor: pointer;
  background-color: #456fff;
  border: 0;
}

.header .img-wrapper .wrapper .inner-box .form .reg-button {
  width: 360px;
  height: 48px;
  line-height: 48px;
  border: 1px solid #456fff;
  color: red !important;
  font-size: 17px;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
}

.header .img-wrapper .wrapper .inner-box .form .reg-button:hover {
  background: #8585b6;
}

.header .img-wrapper .wrapper .inner-box .form .forget {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.header .img-wrapper .wrapper .inner-box .form .forget:hover {
  color: #456fff;
}

.header .img-wrapper .wrapper .inner-box .form .login-method {
  position: relative;
  margin-top: 30px;
  color: #999;
  font-size: 13px;
  text-align: center;
}

.header .img-wrapper .wrapper .inner-box .form .login-method::before {
  content: "";
  width: 130px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 0;
}

.header .img-wrapper .wrapper .inner-box .form .login-method::after {
  content: "";
  width: 130px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  right: 0;
}

.header .img-wrapper .wrapper .inner-box .form .items5 {
  text-align: center;
  margin-top: 15px;
}

.header .img-wrapper .wrapper .inner-box .form .items5 span {
  margin-left: 18px;
}

.header .img-wrapper .wrapper .inner-box .form .items5 span:first-of-type {
  margin-left: 0;
}

.footer {
  margin-top: 135px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 11px;
  color: #9d9d9d;
}

.footer .copyright {
  font-size: 10px;
  padding: 10px 0;
  color: #9d9d9d;
}
