@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  background-color: #f7f7f7;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

* html,
* html body {
  /* background-image: url(about:blank); */
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header .header-nav {
  width: 100%;
  height: 32px;
  z-index: 999;
  position: relative;
  background: #333;
}

.header .header-nav .header-left {
  display: inline-block;
  padding-left: 48px;
}

.header .header-nav .header-left li {
  float: left;
  line-height: 32px;
  display: inline-block;
  padding-right: 42px;
  white-space: nowrap;
  font-size: 12px;
}

.header .header-nav .header-left li a {
  color: #ccc;
  font-weight: 400;
  line-height: 32px;
  cursor: pointer;
}

.header .header-nav .header-left li a:hover {
  color: gray;
}

.header .header-nav .header-right {
  display: inline-block;
  position: absolute;
  right: 0;
  padding-right: 48px;
}

.header .header-nav .header-right li {
  float: left;
  line-height: 32px;
  display: inline-block;
  margin-right: 42px;
  white-space: nowrap;
  font-size: 12px;
}

.header .header-nav .header-right li:nth-of-type(2) {
  margin-right: 18px;
}

.header .header-nav .header-right li:nth-of-type(3) {
  margin-right: 0;
}

.header .header-nav .header-right li:nth-of-type(4) {
  margin-left: 18px;
}

.header .header-nav .header-right li a {
  color: #ccc;
  font-weight: 400;
  line-height: 32px;
  cursor: pointer;
}

.header .header-nav .header-right li a:hover {
  color: gray;
}

.header .top02 {
  height: 68px;
  width: 100%;
}

.header .top02 .top02_center {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.header .top02 .top02_center .logo {
  display: inline-block;
  width: 106px;
  height: 68px;
  text-align: center;
  vertical-align: center;
}

.header .top02 .top02_center .logo i {
  display: block;
  width: 106px;
  height: 28px;
  padding: 16px 0 23px;
  font-size: 30px;
  color: #000000;
}

.header .top02 .top02_center .logo i:hover {
  color: #415fff;
}

.header .top02 .top02_center .head-btm-nav {
  margin: auto;
  font-size: 0;
  position: absolute;
  left: 12%;
  top: 0px;
}

.header .top02 .top02_center .head-btm-nav > li {
  list-style: none;
  display: inline-block;
  padding: 0 22px;
  height: 68px;
}

.header .top02 .top02_center .head-btm-nav > li:nth-child(1) {
  padding-left: 0;
}

.header .top02 .top02_center .head-btm-nav > li:nth-last-child(1) {
  padding-right: 0;
}

.header .top02 .top02_center .head-btm-nav > li:hover .head-second-nav {
  height: 300px;
}

.header .top02 .top02_center .head-btm-nav > li a {
  display: block;
  font-size: 18px;
  line-height: 68px;
  color: black;
}

.header .top02 .top02_center .head-btm-nav > li a:hover {
  color: #456fff;
}

.header .top02 .top02_center .head-btm-nav > li .head-second-nav {
  background-color: #f7f7f7;
  position: absolute;
  font-size: 0;
  width: 1536px;
  left: -312px;
  text-align: center;
  transition: height 0.3s;
  height: 0;
  z-index: 1000;
  overflow: hidden;
}

.header .top02 .top02_center .head-btm-nav > li .head-second-nav li {
  display: inline-block;
  font-size: 16px;
  width: 68px;
  height: 160px;
  margin: 30px 70px;
  position: relative;
}

.header .top02 .top02_center .head-btm-nav > li .head-second-nav li:hover a img:nth-child(1) {
  left: -30px;
}

.header .top02 .top02_center .head-btm-nav > li .head-second-nav li:hover a img:nth-child(3) {
  right: -40px;
}

.header .top02 .top02_center .head-btm-nav > li .head-second-nav li a {
  display: inline-block;
  position: absolute;
  width: 68px;
  height: 160px;
  top: 0;
  left: 0;
}

.header .top02 .top02_center .head-btm-nav > li .head-second-nav li a img {
  width: 68px;
  height: 160px;
  position: absolute;
}

.header .top02 .top02_center .head-btm-nav > li .head-second-nav li a img:nth-child(1) {
  left: -10px;
  transition: left 1s;
}

.header .top02 .top02_center .head-btm-nav > li .head-second-nav li a img:nth-child(2) {
  left: 0;
}

.header .top02 .top02_center .head-btm-nav > li .head-second-nav li a img:nth-child(3) {
  right: -10px;
  transition: right 1s;
}

.header .top02 .top02_center .head-btm-nav > li .head-second-nav li span {
  position: absolute;
  top: 180px;
  font-size: 14px;
  right: 0px;
}

.header .top02 .top02_center .fangdajing {
  position: absolute;
  top: 0;
  right: 0;
  width: 68px;
  height: 68px;
  font-size: 20px;
  cursor: pointer;
}

.header .top02 .top02_center .fangdajing i {
  line-height: 68px;
}

.selection {
  line-height: 72px;
  background-color: white;
  color: black;
  font-size: 13px;
}

.selection .wapper {
  width: 1200px;
  margin: auto;
}

.selection .wapper > p {
  position: relative;
}

.selection .wapper > p a {
  color: black;
}

.selection .wapper > p::before {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid #999;
  transform: rotate(45deg);
  border-left: 0;
  border-bottom: 0;
  top: 32px;
  left: 60px;
}

.selection .wapper > p::after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid #999;
  transform: rotate(45deg);
  border-left: 0;
  border-bottom: 0;
  top: 32px;
  left: 142px;
}

.selection .wapper > p span {
  color: #999;
}

.selection .content {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 710px;
  margin-bottom: 50px;
  text-align: center;
  /* 右边盒子 */
}

.selection .content .left-box {
  float: left;
  width: 515px;
}

.selection .content .left-box .img-box {
  width: 515px;
  height: 515px;
}

.selection .content .left-box .img-box img {
  width: 515px;
  height: 515px;
}

.selection .content .left-box .img-list {
  display: inline-block;
  text-align: center;
  font-size: 0;
}

.selection .content .left-box .img-list li {
  list-style: none;
  display: inline-block;
  width: 85px;
  height: 85px;
  margin: 0 2px;
  text-align: center;
  cursor: pointer;
}

.selection .content .left-box .img-list li img {
  width: 85px;
  height: 85px;
}

.selection .content .left-box > p {
  color: #999;
}

.selection .content .left-box > p a {
  color: #999;
  padding-left: 5px;
}

.selection .content .right-box {
  float: right;
  width: 510px;
  height: 708px;
  overflow: auto;
  text-align: left;
  /* 支持支付方式 */
  /* 版本 */
  /* 版本列表 */
  /* 计数 */
  /* 操作 */
}

.selection .content .right-box::-webkit-scrollbar {
  display: none;
}

.selection .content .right-box .name {
  text-align: left;
  font-size: 34px;
  line-height: 1;
  margin-top: 10px;
  font-weight: 200;
}

.selection .content .right-box .info {
  text-align: left;
  line-height: 22px;
  margin-top: 10px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selection .content .right-box .info i {
  font-style: normal;
  color: #333;
}

.selection .content .right-box .info span {
  color: #ff4b3d;
}

.selection .content .right-box .summary {
  line-height: 1;
  margin: 36px 0 15px;
  padding: 40px 0;
  border: solid #e4e4e4;
  border-width: 1px 0;
  height: 58px;
}

.selection .content .right-box .summary .summary-pic {
  text-align: left;
  float: left;
  color: #f51200;
  line-height: 58px;
  width: 220px;
}

.selection .content .right-box .summary .summary-pic > span {
  font-size: 26px;
}

.selection .content .right-box .summary .summary-pic i {
  font-size: 40px;
  font-style: normal;
}

.selection .content .right-box .summary .summary-activity {
  float: left;
  padding-left: 20px;
  border-left: 1px solid #e4e4e4;
}

.selection .content .right-box .summary .summary-activity > div {
  text-align: left;
}

.selection .content .right-box .summary .summary-activity > div > span {
  margin: 3px 0;
  display: inline-block;
  height: 23px;
  line-height: 23px;
  font-size: 12px;
  text-align: center;
  padding: 0 5px;
  margin-right: 18px;
  color: #fff;
  background-color: #f51314;
  border-radius: 2px;
}

.selection .content .right-box .summary .summary-activity > div i {
  font-style: normal;
}

.selection .content .right-box .support {
  height: 40px;
  padding: 10px 0 30px;
  font-size: 16px;
  text-align: left;
}

.selection .content .right-box .support i {
  font-style: normal;
}

.selection .content .right-box .support i.iconfont {
  color: #f10313;
}

.selection .content .right-box .support span {
  margin-left: 25px;
  cursor: pointer;
  position: relative;
}

.selection .content .right-box .support span:hover > div {
  display: block;
}

.selection .content .right-box .support span > div {
  position: absolute;
  padding: 16px 38px;
  width: 400px;
  height: 140px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 2px 20px 0 #ccc;
  color: #333;
  font-size: 16px;
  top: 40px;
  left: -70px;
  display: none;
  line-height: 30px;
}

.selection .content .right-box .support span > div::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid white;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  left: 115px;
  top: -16px;
}

.selection .content .right-box .support span > div > h3 {
  font-weight: 200;
  height: 32px;
  font-size: 16px;
}

.selection .content .right-box .support span > div > h3 i {
  font-style: normal;
  color: #456fff;
  margin-right: 8px;
}

.selection .content .right-box .support span .encourage {
  left: -120px;
}

.selection .content .right-box .support span .encourage::after {
  left: 160px;
}

.selection .content .right-box .support span > i {
  font-style: 13px;
  padding-right: 6px;
  color: #456fff;
}

.selection .content .right-box .moudle-title {
  padding-top: 20px;
  font-size: 19px;
  line-height: 1;
  margin-bottom: 20px;
  color: #333;
}

.selection .content .right-box .moudle-list li {
  float: left;
  line-height: 57px;
  width: 243px;
  text-align: center;
  height: 57px;
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 6px;
  list-style: none;
}

.selection .content .right-box .moudle-list li:hover {
  color: #e90f23;
}

.selection .content .right-box .num-title {
  padding-top: 20px;
  font-size: 19px;
  line-height: 1;
  margin-bottom: 20px;
  color: #333;
}

.selection .content .right-box .count {
  font-size: 0;
}

.selection .content .right-box .count .reduce {
  display: inline-block;
  font-size: 22px;
  width: 62px;
  height: 57px;
  text-align: center;
  line-height: 57px;
  border: 1px solid #ddd;
  background-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.selection .content .right-box .count .reduce:hover {
  color: #f51314;
}

.selection .content .right-box .count input {
  border: solid #ddd 1px;
  border-left: 0;
  border-right: 0;
  font-size: 20px;
  user-select: none;
  vertical-align: top;
  width: 70px;
  height: 57px;
  outline: none;
  text-align: center;
}

.selection .content .right-box .count .add {
  display: inline-block;
  font-size: 22px;
  width: 62px;
  height: 57px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  line-height: 57px;
  background-color: white;
  border: 1px solid #ddd;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  user-select: none;
}

.selection .content .right-box .count .add:hover {
  color: #f51314;
}

.selection .content .right-box .action {
  margin: 50px 50px 10px 0;
}

.selection .content .right-box .action div {
  float: left;
  width: 170px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  border-radius: 20px/50%;
  margin-right: 27px;
  cursor: pointer;
}

.selection .content .right-box .action .shop-car {
  background-color: #444;
}

.selection .content .right-box .action .shop-car:hover {
  background-color: #666;
}

.selection .content .right-box .action .buy {
  background-color: #e90f23;
}

.selection .content .right-box .action .buy:hover {
  background-color: #f51314;
}

.selection .content .right-box .action .buy .buynow {
  color: #fff !important;
}

.footer .footer-1 {
  padding: 30px 0 70px;
  background: #fff;
  overflow: hidden;
  width: 100%;
}

.footer .footer-1 .footer-1box {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.footer .footer-1 .footer-1box .footer-1item {
  padding: 30px 0;
  border-bottom: 1px solid #dedede;
  height: 28px;
  overflow: hidden;
}

.footer .footer-1 .footer-1box .footer-1item li {
  width: 25%;
  height: 28px;
  float: left;
  display: inline;
  line-height: 28px;
  text-align: center;
}

.footer .footer-1 .footer-1box .footer-1item li span {
  color: #333;
  font-size: 18px;
}

.footer .footer-1 .footer-1box .footer-1item li span i {
  margin-right: 10px;
  font-size: 32px;
  vertical-align: -6px;
}

.footer .footer-2 {
  background: #fff;
  overflow: hidden;
  width: 100%;
}

.footer .footer-2 .footer-2box {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.footer .footer-2 .footer-2box .footer-upper ul {
  display: inline-table;
  vertical-align: top;
  width: 75%;
  margin-left: 20px;
}

.footer .footer-2 .footer-2box .footer-upper ul li {
  display: table-cell;
  width: 20%;
}

.footer .footer-2 .footer-2box .footer-upper ul li dt {
  font-size: 16px;
  line-height: 17px;
  padding-bottom: 40px;
  font-weight: 700;
}

.footer .footer-2 .footer-2box .footer-upper ul li dd {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 18px;
  color: #666;
}

.footer .footer-2 .footer-2box .footer-upper ul li dd a {
  color: #666;
}

.footer .footer-2 .footer-2box .footer-upper .footer-left {
  display: inline-block;
  width: 180px;
  position: absolute;
  right: 20px;
}

.footer .footer-2 .footer-2box .footer-upper .footer-left .left-1 {
  display: inline-block;
  margin-bottom: 30px;
  color: #333;
  font-size: 22px;
}

.footer .footer-2 .footer-2box .footer-upper .footer-left .left-1 i {
  font-size: 22px;
  width: 28px;
  height: 23px;
  padding-right: 8px;
}

.footer .footer-2 .footer-2box .footer-upper .footer-left .left-2 {
  margin-bottom: 24px;
}

.footer .footer-2 .footer-2box .footer-upper .footer-left .left-2 span {
  color: #415fff;
  font-size: 24px;
}

.footer .footer-2 .footer-2box .footer-upper .footer-left .left-2 p {
  padding-top: 10px;
  color: #333;
  font-size: 14px;
}

.footer .footer-2 .footer-2box .footer-upper .footer-left .left-4 {
  margin-top: 40px;
  position: relative;
  font-size: 0;
}

.footer .footer-2 .footer-2box .footer-upper .footer-left .left-4 span {
  font-size: 14px;
  color: #333;
  line-height: 20px;
  margin-right: 17px;
}

.footer .footer-2 .footer-2box .footer-upper .footer-left .left-4 i {
  display: inline-block;
  vertical-align: top;
  margin-right: 14px;
  position: relative;
  cursor: pointer;
  font-size: 20px;
}

.footer .footer-2 .footer-2box .footer-down {
  margin-top: 74px;
  padding: 30px 0;
  white-space: normal;
  border-top: 1px solid silver;
}

.footer .footer-2 .footer-2box .footer-down p {
  overflow: hidden;
  margin-top: -.25em;
  color: #666;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.footer .footer-2 .footer-2box .footer-down p img {
  width: 18px;
  height: 18px;
  padding-left: 15px;
  padding-right: 10px;
  vertical-align: middle;
}

.footer .footer-2 .footer-2box .footer-down p i {
  padding: 0 4.8px 0 10px;
}
