@charset "utf-8";
* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    background-color: rgb(247, 247, 247);
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0
}

* html,
* html body {
    /* background-image: url(about:blank); */
    background-attachment: fixed
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header {
    .header-nav {
        width: 100%;
        height: 32px;
        z-index: 999;
        position: relative;
        background: #333;
        // font-size: 0;
        .header-left {
            display: inline-block;
            padding-left: 48px;
            li {
                float: left;
                line-height: 32px;
                display: inline-block;
                padding-right: 42px;
                white-space: nowrap;
                font-size: 12px;
                a {
                    color: #ccc;
                    font-weight: 400;
                    line-height: 32px;
                    cursor: pointer;
                    &:hover {
                        color: gray;
                    }
                }
            }
        }
        .header-right {
            display: inline-block;
            position: absolute;
            right: 0;
            padding-right: 48px;
            li {
                float: left;
                line-height: 32px;
                display: inline-block;
                margin-right: 42px;
                white-space: nowrap;
                font-size: 12px;
                &:nth-of-type(2) {
                    margin-right: 18px;
                }
                &:nth-of-type(3) {
                    margin-right: 0;
                }
                &:nth-of-type(4) {
                    margin-left: 18px;
                }
                a {
                    color: #ccc;
                    font-weight: 400;
                    line-height: 32px;
                    cursor: pointer;
                    &:hover {
                        color: gray;
                    }
                }
            }
        }
    }
    .top02 {
        height: 68px;
        width: 100%;
        .top02_center {
            width: 1200px;
            margin: 0 auto;
            position: relative;
            .logo {
                display: inline-block;
                width: 106px;
                height: 68px;
                text-align: center;
                vertical-align: center;
                i {
                    display: block;
                    width: 106px;
                    height: 28px;
                    padding: 16px 0 23px;
                    font-size: 30px;
                    color: #000000;
                    &:hover {
                        color: #415fff;
                    }
                }
            }
            .head-btm-nav {
                margin: auto;
                font-size: 0;
                position: absolute;
                left: 12%;
                top: 0px;
                >li {
                    list-style: none;
                    display: inline-block;
                    padding: 0 22px;
                    height: 68px;
                    &:nth-child(1) {
                        padding-left: 0;
                    }
                    &:nth-last-child(1) {
                        padding-right: 0;
                    }
                    &:hover .head-second-nav {
                        height: 300px;
                    }
                    a {
                        display: block;
                        font-size: 18px;
                        line-height: 68px;
                        color: black;
                        &:hover {
                            color: #456fff;
                        }
                    }
                    .head-second-nav {
                        background-color: rgb(247, 247, 247);
                        position: absolute;
                        font-size: 0;
                        width: 1536px;
                        left: -312px;
                        text-align: center;
                        transition: height 0.3s;
                        height: 0;
                        z-index: 1000;
                        overflow: hidden;
                        li {
                            display: inline-block;
                            font-size: 16px;
                            width: 68px;
                            height: 160px;
                            margin: 30px 70px;
                            position: relative;
                            &:hover {
                                a {
                                    img {
                                        &:nth-child(1) {
                                            left: -30px;
                                        }
                                        &:nth-child(3) {
                                            right: -40px
                                        }
                                    }
                                }
                            }
                            a {
                                display: inline-block;
                                position: absolute;
                                width: 68px;
                                height: 160px;
                                top: 0;
                                left: 0;
                                img {
                                    width: 68px;
                                    height: 160px;
                                    position: absolute;
                                    &:nth-child(1) {
                                        left: -10px;
                                        transition: left 1s;
                                    }
                                    &:nth-child(2) {
                                        left: 0;
                                    }
                                    &:nth-child(3) {
                                        right: -10px;
                                        transition: right 1s;
                                    }
                                }
                            }
                            span {
                                position: absolute;
                                top: 180px;
                                font-size: 14px;
                                right: 0px;
                            }
                        }
                    }
                }
            }
            .fangdajing {
                position: absolute;
                top: 0;
                right: 0;
                width: 68px;
                height: 68px;
                font-size: 20px;
                cursor: pointer;
                i {
                    line-height: 68px;
                }
            }
        }
    }
    // .top02 {
    //     height: 68px;
    //     width: 100%;
    //     .top02_center {
    //         width: 1200px;
    //         margin: 0 auto;
    //         position: relative;
    //         .logo {
    //             display: inline-block;
    //             width: 106px;
    //             height: 68px;
    //             text-align: center;
    //             vertical-align: center;
    //             i {
    //                 display: block;
    //                 width: 106px;
    //                 height: 28px;
    //                 padding: 16px 0 23px;
    //                 font-size: 30px;
    //                 color: #000000;
    //                 &:hover {
    //                     color: #415fff;
    //                 }
    //             }
    //         }
    //         .nav {
    //             width: 950px;
    //             position: absolute;
    //             left: 120px;
    //             top: 0;
    //             &>ul {
    //                 width: 1000px;
    //                 overflow: hidden;
    //                 height: 68px;
    //                 &>li {
    //                     width: auto;
    //                     padding: 0 22px;
    //                     float: left;
    //                     line-height: 68px;
    //                     text-align: center;
    //                     &>a {
    //                         height: 42px;
    //                         font-size: 18px;
    //                         color: #000000;
    //                         &:hover {
    //                             color: #415fff;
    //                             .sub {
    //                                 display: block;
    //                             }
    //                             // &:after {
    //                             //     left: 1%;
    //                             //     right: 1%;
    //                             //     opacity: 1;
    //                             //     -webkit-transition: all .5s;
    //                             //     -o-transition: all .5s;
    //                             //     -ms-transition: all .5s;
    //                             //     transition: all .5s;
    //                             // }
    //                         }
    //                     }
    //                 }
    //             }
    //             .sub {
    //                 // border: 1px blue solid;
    //                 display: none;
    //                 // width: 100%;
    //                 width: 1536px;
    //                 height: 300px;
    //                 padding: 0;
    //                 position: absolute;
    //                 top: 100px;
    //                 overflow: hidden;
    //                 text-align: center;
    //                 z-index: 110;
    //                 left: -280px;
    //                 background-color: #f5f5f5;
    //                 .nav_xiao {
    //                     width: 1200px;
    //                     height: 400px;
    //                     overflow: hidden;
    //                     padding-top: 5px;
    //                     margin: 0 auto;
    //                     padding-bottom: 50px;
    //                     .xiao_three {
    //                         width: 790px;
    //                         height: 400px;
    //                         margin: 0 auto;
    //                         overflow: hidden;
    //                         &>ul {
    //                             width: 790px;
    //                             &>li {
    //                                 float: left;
    //                                 display: inline-block;
    //                                 width: 140px;
    //                                 height: 400px;
    //                                 overflow: hidden;
    //                                 margin-right: 50px;
    //                                 text-align: center;
    //                                 line-height: 400px;
    //                                 margin-left: 0px;
    //                                 &>a {
    //                                     color: #686868;
    //                                     width: 136px;
    //                                     display: inline-block;
    //                                     font-size: 14px;
    //                                     height: 320px;
    //                                     // padding-top: 17px;
    //                                     &>img {
    //                                         width: 90px;
    //                                         height: 200px;
    //                                         display: inline-block;
    //                                         // border: red 1px solid;
    //                                     }
    //                                 }
    //                             }
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //         .fangdajing {
    //             position: absolute;
    //             top: 0;
    //             right: 0;
    //             width: 68px;
    //             height: 68px;
    //             font-size: 20px;
    //             cursor: pointer;
    //             i {
    //                 line-height: 68px;
    //             }
    //         }
    //     }
    // }
}

.selection {
    line-height: 72px;
    background-color: white;
    color: black;
    font-size: 13px;
    .wapper {
        width: 1200px;
        margin: auto;
        >p {
            position: relative;
            a {
                color: black;
            }
            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 8px;
                height: 8px;
                border: 1px solid #999;
                transform: rotate(45deg);
                border-left: 0;
                border-bottom: 0;
                top: 32px;
                left: 60px;
            }
            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 8px;
                height: 8px;
                border: 1px solid #999;
                transform: rotate(45deg);
                border-left: 0;
                border-bottom: 0;
                top: 32px;
                left: 142px;
            }
            span {
                color: #999;
            }
        }
    }
    .content {
        width: 1200px;
        margin: 0 auto;
        position: relative;
        height: 710px;
        margin-bottom: 50px;
        text-align: center;
        .left-box {
            float: left;
            width: 515px;
            .img-box {
                width: 515px;
                height: 515px;
                img {
                    width: 515px;
                    height: 515px;
                }
            }
            .img-list {
                display: inline-block;
                text-align: center;
                font-size: 0;
                li {
                    list-style: none;
                    display: inline-block;
                    width: 85px;
                    height: 85px;
                    margin: 0 2px;
                    text-align: center;
                    cursor: pointer;
                    img {
                        width: 85px;
                        height: 85px;
                    }
                }
            }
            >p {
                color: #999;
                a {
                    color: #999;
                    padding-left: 5px;
                }
            }
        }
        /* 右边盒子 */
        .right-box {
            float: right;
            width: 510px;
            height: 708px;
            overflow: auto;
            text-align: left;
            &::-webkit-scrollbar {
                display: none;
            }
            .name {
                text-align: left;
                font-size: 34px;
                line-height: 1;
                margin-top: 10px;
                font-weight: 200;
            }
            .info {
                text-align: left;
                line-height: 22px;
                margin-top: 10px;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                i {
                    font-style: normal;
                    color: #333;
                }
                span {
                    color: #ff4b3d;
                }
            }
            .summary {
                line-height: 1;
                margin: 36px 0 15px;
                padding: 40px 0;
                border: solid #e4e4e4;
                border-width: 1px 0;
                height: 58px;
                .summary-pic {
                    text-align: left;
                    float: left;
                    color: #f51200;
                    line-height: 58px;
                    width: 220px;
                    >span {
                        font-size: 26px;
                    }
                    i {
                        font-size: 40px;
                        font-style: normal;
                    }
                }
                .summary-activity {
                    float: left;
                    padding-left: 20px;
                    border-left: 1px solid #e4e4e4;
                    >div {
                        text-align: left;
                        >span {
                            margin: 3px 0;
                            display: inline-block;
                            height: 23px;
                            line-height: 23px;
                            font-size: 12px;
                            text-align: center;
                            padding: 0 5px;
                            margin-right: 18px;
                            color: #fff;
                            background-color: #f51314;
                            border-radius: 2px;
                        }
                        i {
                            font-style: normal;
                        }
                    }
                }
            }
            /* 支持支付方式 */
            .support {
                height: 40px;
                padding: 10px 0 30px;
                font-size: 16px;
                text-align: left;
                i {
                    font-style: normal;
                }
                span {
                    margin-left: 25px;
                    cursor: pointer;
                    position: relative;
                    &:hover>div {
                        display: block;
                    }
                    >div {
                        position: absolute;
                        padding: 16px 38px;
                        width: 400px;
                        height: 140px;
                        box-sizing: border-box;
                        background: #fff;
                        box-shadow: 0 2px 20px 0 #ccc;
                        color: #333;
                        font-size: 16px;
                        top: 40px;
                        left: -70px;
                        display: none;
                        line-height: 30px;
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 0;
                            height: 0;
                            border: 8px solid white;
                            border-top-color: transparent;
                            border-left-color: transparent;
                            border-right-color: transparent;
                            left: 115px;
                            top: -16px;
                        }
                        >h3 {
                            font-weight: 200;
                            height: 32px;
                            font-size: 16px;
                            i {
                                font-style: normal;
                                color: #456fff;
                                margin-right: 8px;
                            }
                        }
                    }
                    .encourage {
                        left: -120px;
                        &::after {
                            left: 160px;
                        }
                    }
                    >i {
                        font-style: 13px;
                        padding-right: 6px;
                        color: #456fff;
                    }
                }
            }
            /* 版本 */
            .moudle-title {
                padding-top: 20px;
                font-size: 19px;
                line-height: 1;
                margin-bottom: 20px;
                color: #333;
            }
            /* 版本列表 */
            .moudle-list {
                li {
                    float: left;
                    line-height: 57px;
                    width: 243px;
                    text-align: center;
                    height: 57px;
                    margin-bottom: 15px;
                    margin-left: 10px;
                    font-size: 16px;
                    cursor: pointer;
                    border: 1px solid #ddd;
                    border-radius: 6px;
                    list-style: none;
                    &:hover {
                        color: #e90f23;
                    }
                }
            }
            .num-title {
                padding-top: 20px;
                font-size: 19px;
                line-height: 1;
                margin-bottom: 20px;
                color: #333;
            }
            /* 计数 */
            .count {
                font-size: 0;
                .reduce {
                    display: inline-block;
                    font-size: 22px;
                    width: 62px;
                    height: 57px;
                    text-align: center;
                    line-height: 57px;
                    border: 1px solid #ddd;
                    background-color: white;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    cursor: pointer;
                    user-select: none;
                    &:hover {
                        color: #f51314;
                    }
                }
                input {
                    border: solid #ddd 1px;
                    border-left: 0;
                    border-right: 0;
                    font-size: 20px;
                    user-select: none;
                    vertical-align: top;
                    width: 70px;
                    height: 57px;
                    outline: none;
                    text-align: center;
                }
                .add {
                    display: inline-block;
                    font-size: 22px;
                    width: 62px;
                    height: 57px;
                    text-align: center;
                    user-select: none;
                    cursor: pointer;
                    line-height: 57px;
                    background-color: white;
                    border: 1px solid #ddd;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    user-select: none;
                    &:hover {
                        color: #f51314;
                    }
                }
            }
            /* 操作 */
            .action {
                margin: 50px 50px 10px 0;
                div {
                    float: left;
                    width: 170px;
                    height: 46px;
                    line-height: 46px;
                    text-align: center;
                    color: #fff;
                    font-size: 18px;
                    border-radius: 20px/50%;
                    margin-right: 27px;
                    cursor: pointer;
                }
                .shop-car {
                    background-color: #444;
                    &:hover {
                        background-color: #666;
                    }
                }
                .buy {
                    background-color: #e90f23;
                    &:hover {
                        background-color: #f51314
                    }
                }
            }
        }
    }
}

.footer {
    .footer-1 {
        padding: 30px 0 70px;
        background: #fff;
        overflow: hidden;
        width: 100%;
        .footer-1box {
            position: relative;
            width: 1200px;
            margin: 0 auto;
            .footer-1item {
                padding: 30px 0;
                border-bottom: 1px solid #dedede;
                height: 28px;
                overflow: hidden;
                li {
                    width: 25%;
                    height: 28px;
                    float: left;
                    display: inline;
                    line-height: 28px;
                    text-align: center;
                    span {
                        color: #333;
                        font-size: 18px;
                        i {
                            margin-right: 10px;
                            font-size: 32px;
                            vertical-align: -6px;
                        }
                    }
                }
            }
        }
    }
    .footer-2 {
        background: #fff;
        overflow: hidden;
        width: 100%;
        .footer-2box {
            position: relative;
            width: 1200px;
            margin: 0 auto;
            .footer-upper {
                ul {
                    display: inline-table;
                    vertical-align: top;
                    width: 75%;
                    margin-left: 20px;
                    li {
                        display: table-cell;
                        width: 20%;
                        dt {
                            font-size: 16px;
                            line-height: 17px;
                            padding-bottom: 40px;
                            font-weight: 700;
                        }
                        dd {
                            font-size: 14px;
                            line-height: 17px;
                            margin-bottom: 18px;
                            color: #666;
                            a {
                                color: #666;
                            }
                        }
                    }
                }
                .footer-left {
                    display: inline-block;
                    width: 180px;
                    position: absolute;
                    right: 20px;
                    .left-1 {
                        display: inline-block;
                        margin-bottom: 30px;
                        color: #333;
                        font-size: 22px;
                        i {
                            font-size: 22px;
                            width: 28px;
                            height: 23px;
                            padding-right: 8px;
                        }
                    }
                    .left-2 {
                        margin-bottom: 24px;
                        span {
                            color: #415fff;
                            font-size: 24px;
                        }
                        p {
                            padding-top: 10px;
                            color: #333;
                            font-size: 14px;
                        }
                    }
                    .left-4 {
                        margin-top: 40px;
                        position: relative;
                        font-size: 0;
                        span {
                            font-size: 14px;
                            color: #333;
                            line-height: 20px;
                            margin-right: 17px;
                        }
                        i {
                            display: inline-block;
                            vertical-align: top;
                            margin-right: 14px;
                            position: relative;
                            cursor: pointer;
                            font-size: 20px;
                        }
                    }
                }
            }
            .footer-down {
                margin-top: 74px;
                padding: 30px 0;
                white-space: normal;
                border-top: 1px solid silver;
                p {
                    overflow: hidden;
                    margin-top: -.25em;
                    color: #666;
                    font-size: 12px;
                    line-height: 1.5;
                    text-align: center;
                    img {
                        width: 18px;
                        height: 18px;
                        padding-left: 15px;
                        padding-right: 10px;
                        vertical-align: middle;
                    }
                    i {
                        padding: 0 4.8px 0 10px;
                        // font-size: 12px;
                    }
                }
            }
        }
    }
}